<div class="card shadow-sm mb-3" >
     <div class="card-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Registered On</th>
            <th>Subscription Valid On</th>
            <th>Status</th>

          </tr>
        </thead>
        <tbody *ngFor="let users of userlistitem">
          <tr>
            <td>{{users.name}}</td>
            <td>{{users.email}}</td>
            <td>{{users.createdOn | date:'d MMMM y'}}</td>
            <td>{{users.subscriptionValidOn | date:'d MMMM y'}}</td>
            <div *ngIf="users.isActive==true">
              <td class="btn btn-success">Active</td>
            </div>
            <div *ngIf="users.isActive==false">
              <td class="btn btn-danger">In Active</td>
            </div>

          
          </tr>
          </tbody>
          </table>
  </div>
</div>