<header data-bs-theme="light">
    <div class="header-bg">
      <a routerLink="/home">
        <img src="assets/images/logo.png" class="logo" />
      </a>
      <p class="float-end mb-1">
        <a href="#" class="header-date">{{dateTime| date : 'dd MMM Y'}} {{dateTime| date : 'HH:mm:ss a'}}</a>
      </p>
    </div>

    <div class="d-flex justify-content-between p-3 align-items-center header-2">
      <p>
        <strong>Daily Updates about Commodity & Equity Market</strong>
      </p>
      <ul>
        <li>
          <a aria-current="page" routerLink="/register" class="text-cap" *ngIf="!isUserloggedin; else logout" >Register</a>
        </li>
        <li>
          <a aria-current="page" routerLink="/login" class="text-cap"  *ngIf="!isUserloggedin">Login</a>
        </li>
        <ng-template #logout>
          <li>
            <a aria-current="page"  class="text-cap">{{Name}}</a>
          </li>
          <li>
            <a aria-current="page"  class="text-cap" (click)="loggedout()" href="#">Logout</a>
          </li>
        </ng-template>

      </ul>
    </div>
    <div class="d-flex justify-content-between align-items-center p-2 ticker-wrap ticker-shadow">
      <div class="ticker">
        <div class="item-collection-1">
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-negative">-2.85</span>
                <span class="me-1 stock-negative">(-50.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-negative">-85.50</span>
                <span class="me-1 stock-negative">(+112.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ticker">
        <div class="item-collection-1">
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="assets/images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex align-items-center me-3">
              <div class="mx-2 me-2">
                <a href="#">
                  <img src="images/e3b466c72170ecd867516de2d466ac14.png" class="stock-img" />
                </a>
              </div>
              <div class="d-flex align-items-center">
                <p class="h6 mb-0 me-2 ft-b-500" style="color: black;">TCSL1!</p>
                <span class="me-2 ft-b-500" style="color: black;">1009.10</span>
                <span class="me-1 stock-positive">+5.50</span>
                <span class="me-1 stock-positive">(+18.54%)</span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </header>
