<header data-bs-theme="light">
    <div class="header-bg">
      <a routerLink="/home">
        <img src="assets/images/logo.png" class="logo" />
      </a>
      <p class="float-end mb-1">
        <a href="#" class="header-date">{{dateTime| date : 'dd MMM Y'}} {{dateTime| date : 'HH:mm:ss a'}}</a>
      </p>
    </div>

    <div class="d-flex justify-content-between p-3 align-items-center header-2">
      <p>
        <strong>Daily Updates about Commodity & Equity Market</strong>
      </p>

      <ul *ngIf="!isUserloggedin">
        <li>
          <a aria-current="page" routerLink="/register" class="text-cap">Register</a>
        </li>
        <li>
          <a aria-current="page" routerLink="/login" class="text-cap">Login</a>
        </li>
      </ul>

      <ul *ngIf="isUserloggedin">
        <li>
          <a aria-current="page"  class="text-cap">{{Name}}</a>
        </li>
        <li>
          <a aria-current="page"  class="text-cap" (click)="loggedout()" href="#">Logout</a>
        </li>
     
      </ul>

       
    </div>
   
  </header>
