<footer class="text-body-secondary py-5 header-2">
    <div class="container">

      <div class="d-flex mb-5">
        <a routerLink="/home" class="me-5">
          <img src="assets/images/logo.png" class="logo" />
        </a>
        <p class="d-flex flex-column footer-text-decor">
          <a routerLink="/home">Home</a>
          <a routerLink="/register">Register</a>
          <a routerLink="/login">Login</a>
          <a href="mailto:info@supermcxtip.com">Contact: Info&#64;supermcxtip.com </a>
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <p style="font-size: 13px;">Daily Updates about Commodity & Equity Market</p>
        <p style="font-size: 13px;" class="mb-1">Powered by | Super Mcx Tips</p>
      </div>
    </div>
  </footer>
  <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
