<footer class="text-body-secondary py-5 header-2">
    <div class="container">

      <div class="d-flex mb-5">
        <a href="#" class="me-5">
          <img src="assets/images/logo.png" class="logo" />
        </a>
        <p class="d-flex flex-column footer-text-decor">
          <a href="#">Home</a>
          <a href="#">Register</a>
          <a href="#">Login</a>
          <a href="#">Profile</a>
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <p style="font-size: 13px;">Daily Updates about Commodity & Equity Market</p>
        <p style="font-size: 13px;" class="mb-1">Powered by SIT Solutions | Super Mix Tips</p>
      </div>
    </div>
  </footer>
  <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
