<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
  
        <div class="form-floating">
          <input type="text"
          id="emailaddress" 
          name="emailaddress" 
          [(ngModel)]="EmailAddress" 
          class="form-control"
         
           placeholder="Email Address ">
          
          <label for="username">Email Address</label>
        </div>
         
        <div *ngIf="lshowMessage">
          <span class="mt-5 mb-3 text-body">Instruction to reset your password were sent to your registered email.</span>
        </div>
  
        <hr>            
        <button class="btn btn-primary w-100 py-2" type="button" (click)="resetpassword()">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true"></span>Submit
        
        </button>

        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023 All rights reserved</p>
      </form>
    </main>
  
