<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
  
        <div class="form-floating">
          <input type="text"
          id="password" 
          name="password" 
          [(ngModel)]="ChangePasswordModel.newPassword" 
          class="form-control"
         
           placeholder="New Password ">
          
          <label for="username">New Password</label>
        </div>

        <div class="form-floating">
            <input type="text"
            id="confirmpassword" 
            name="confirmpassword" 
            [(ngModel)]="ChangePasswordModel.confirmPassword" 
            class="form-control"
           
             placeholder="Confirm Password ">
            
            <label for="username">Confirm Password</label>
          </div>
         
          <div *ngIf="lshowMessage">
            <span class="mt-5 mb-3 text-body">{{this.message}}</span>
          </div>
  
        <hr>            
        <button class="btn btn-primary w-100 py-2" type="button" (click)="changepasswordSubmit()">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true"></span>Submit
        
        </button>

        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023 All rights reserved</p>
      </form>
    </main>
  